# MongoDB Atlas Cloud Database URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/smart_cadence_grid?retryWrites=true&w=majority

# JWT Authentication Secret Key
JWT_SECRET=smart-cadence-secret-key-2026

# Node Environment
NODE_ENV=production
